:root {
  --primary: #99aaff;
}

.btn {
  /* padding: 8px 20px; */
  border-radius: 20px;
  outline: 1px ridge #8095ff;
  border: none;
  cursor: pointer;
}

.btn:hover {
  /* padding: 8px 20px; */
  transition: all 0.3s ease-out;
  outline: 1px ridge #b3bfff;
  background: #fff;
  color: #b3b3ff;
  transition: 250ms;
}

.btn--primary {
  background-color: var(--primary);
}

.btn--outline {
  background-color: transparent;
  color: #fff;
  padding: 8px 20px;
  border-radius: 4px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
}

.btn--medium {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 15px;
  font-size: 18px;
  color: #fff;
}

.btn--large {
  margin: 10px;
  padding: 12px 23px;
  border-radius: 4px;
  font-size: 20px;
  color: #fff;
}

