.NavBar-Items {
  background: linear-gradient(90deg, #bb99ff 0%, #bfb3ff 100%);
  height: 80px;
  width: 100%;
  border-radius: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  outline: 2px ridge #aa80ff;
}

.navbar-logo {
  color: white;
  text-decoration: none;
  padding: 1rem 0.5rem;
  font-size: 80px;
  font-family: "Palanquin Dark";
}

.NavBar-Menu {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 20px;
  list-style: none;
  text-align: center;
  width: 75vw;
  justify-content: end;
  margin-right: 1rem;
}

.NavBar-Links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.NavBar-Links:hover {
  background-color: #ccd4ff;
  height: 10px;
  border-radius: 15px;
  transition: all 0.2s ease-out;
}

.active {
  text-decoration: underline 2px;
  text-underline-offset: 4px;
}
