/* .example-warper { */
/*   width: 100%; */
/*   padding: 20px 5%; */
/*   display: flex; */
/*   justify-content: space-around; */
/*   flex-wrap: wrap; */
/*   border: 1px #cfcece dashed; */
/* } */

.button {
  color: #000000;
  cursor: pointer;
  padding: 0px 30px;
  display: inline-block;
  margin: 5px 0px;
  /*text-align: left;*/
  line-height: 2em;
  letter-spacing: 1.5px;
  font-size: 1em;
  outline: none;
  position: relative;
  font-size: 14px;
  border: 2px solid #aa99ff;
  background-color: #ffffff;
  border-radius: 15px 15px 15px 15px;
  transition: all 0.3s;
  width: 100%;
}

.buttonJoined {
  color: #000000;
  cursor: pointer;
  padding: 0px 30px;
  display: inline-block;
  margin: 5px 0px;
  /*text-align: left;*/
  line-height: 2em;
  letter-spacing: 1.5px;
  font-size: 1em;
  outline: none;
  position: relative;
  font-size: 14px;
  border: 2px solid #aa99ff;
  background-color: #ff0000;
  border-radius: 15px 15px 15px 15px;
  transition: all 0.3s;
  width: 100%;
 
}
.button:hover,
.button.hover {
  border-color: #2980b9;
}

.card {
  font-size: 12px;
}
.card > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 14px;
  text-align: center;
}

.menu {
  width: 200px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
}
.menu-item {
  cursor: pointer;
  padding: 5px;
  height: 28px;
  border-top: 1px solid rgb(187, 187, 187);
}
.menu-item:hover {
  color: #2980b9;
}
