.activityButton {
  color: #000000;
  cursor: pointer;
  padding: 0px 30px;
  display: inline-block;
  margin: 5px 0px;
  line-height: 2em;
  letter-spacing: 1.5px;
  font-size: 1em;
  outline: none;
  position: relative;
  font-size: 14px;
  border: 2px solid #aa99ff;
  background-color: #ffffff;
  border-radius: 15px 15px 15px 15px;
  transition: all 0.3s;
  width: 100%;
}

.actionButton {
  color: #000000;
  cursor: pointer;
  padding: 0px 30px;
  margin: 10px 10px;
  line-height: 2em;
  letter-spacing: 1.5px;
  font-size: 1em;
  outline: none;
  position: relative;
  font-size: 14px;
  border: 2px solid #aa99ff;
  border-radius: 15px 15px 15px 15px;
  transition: all 0.3s;
  display: inline-block;
  width: 30%;
}
.actionButton:disabled {
  background-color: grey;
}

.leaveButton {
  border: 2px solid #ff0000;
}

.actionButton:hover,
.popupButton:hover {
  border-color: #2980b9;
}

.participantCount {
  font-size: 20px;
  float: right;
  margin-top: 15px;
  text-decoration: underline;
  text-decoration-color: grey;
  text-underline-offset: 5px;
}

.participantLink {
  color: black;
  /* text-decoration: none; */
}

.card {
  font-size: 12px;
}
.card > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 14px;
  text-align: center;
}

.menu {
  width: 200px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
}
.menu-item {
  cursor: pointer;
  padding: 5px;
  height: 28px;
  border-top: 1px solid rgb(187, 187, 187);
}
.menu-item:hover {
  color: #2980b9;
}
