.SportsListItems {
  background-color: whitesmoke;
  padding-top: 5px;
  padding-bottom: 20px;
  margin-top: 20px;
  border-radius: 27px;
  outline: 2px ridge #bfb3ff;
}

.titlesfs {
  margin-left: 30px;
  color: #aa80ff;
  font-size: 30px;
  font-family: 'Palanquin';
}

.sportslist-menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 4vh 2vw;
  grid-auto-flow: row;
  padding-right: 40px;
  list-style: none;
  justify-items: center;
}

.sportslist-links, .sportslist-links:hover {
  float: left;
  width: 200px;
  height: 200px;
  border-radius: 20px;
  line-height: 200px;
  text-align: center;
  font-family: 'Palanquin';
  text-decoration: none;
  color: white;
  transition: all 0.25s ease-in-out;
}

.sportslist-links {
  background-color: #ccb3ff;
  outline: 2px ridge #bb99ff;
  font-size: 20px;
}

.sportslist-links:hover {
  background-color: #bb99ff;
  outline: 3px groove #ccb3ff;
  font-size: 25px;
}
