.SportPageItems {
    background-color: whitesmoke;
    padding-top: 5px;
    padding-bottom: 20px;
    margin-top: 20px;
    border-radius: 27px;
    outline: 2px ridge #bfb3ff;
}

.socSportPageTitle{
    margin-left: 30px;
    color: #aa80ff;
    font-size: 30px;
}

.socPageLayout{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-gap: 10px 4vw;
    list-style: none;
}

.socIndividualBox{
    font-size: 25px;
    background-color: white;
    outline: 2px solid #bfb3ff;
    border-radius: 20px;
    color: #AA99FF;
    list-style: none;
    width: 50%;
    padding: 20px;
    padding-right: 20vw;
}

.socActivityBox{
    background-color: white;
    font-size: 20px;
    color: #AA99FF;
    outline: 2px solid #AA99FF;
    width: 150%;
    margin: 10px;
    border-radius: 40px;
    padding: 20px;
    list-style: none;
}

.socActivityBox:hover{
    background-color: #bfb3ff;
    font-size: 20px;
    color: white;
    outline: 2px solid white;
    width: 150%;
    margin: 10px;
    border-radius: 40px;
    padding: 20px;
    list-style: none;
    transition: all 0.1s ease-out;
}

