.SportPageItems {
  background-color: whitesmoke;
  padding-top: 5px;
  padding-bottom: 20px;
  margin-top: 20px;
  border-radius: 27px;
  outline: 2px ridge #bfb3ff;
}

.socSportPageTitle {
  margin-left: 30px;
  color: #aa80ff;
  font-size: 30px;
}

.socPageLayout {
  display: grid;
  /* grid-template-columns: repeat(2, auto); */
  grid-gap: 0px 10px;
  list-style: none;
  padding-right: 40px;
}

.socIndividualBox {
  /* display: grid;
  /* grid-template-columns: repeat(2, auto); */
  /* grid-template-areas:
    1
    1/1; */

  padding: 10px;
  font-size: 25px;
  background-color: white;
  outline: 2px solid #bfb3ff;
  border-radius: 20px;
  color: #aa99ff;
  list-style: none;
}
